<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
  <div class="body-overlay">
    <header>
        <%- include('../partials/header.ejs')%>
    </header>
  <main>
      <div class="container">
            <h3>Index</h3>
            <ul>
              <% let listString = renderList(vehicles) %>
              <%- listString %>
            </ul>
          </main>
          <footer>
              <%- include('../partials/footer.ejs')%>
          </footer>
          </div>
</body>

<% function renderList(arrList) { %>
<%   let listString = []  %>
<%   arrList.forEach((vehicle, index) => {  %>
<%        listString.push('<li><a href="/cars/' + vehicle._id + '">' + vehicle.name + '</a></li>') %>
<%    }) %>
<%    return listString.join(" ")  %>
<% } %>