<h3>Dpremium Rentals</h3>
<% if(currentUser) { %>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/cars">Cars</a></li>
    <li><a href="/rentals">Rentals</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/cars">Contact Us</a></li>
    <li><a href="/sessions/logout">Logout</a> </li>
  </ul>
<% } else { %>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sessions/login">Login</a>
    <li><a href="/users/new">Signup</a>
<% } %>
