<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
<body>
    <div class="body-overlay">
        <header>
            <%- include('./partials/header.ejs')%>
        </header>
      <main>
          <div class="container">
        <h3>Welcome to Dpremium Rentals!</h3>
        <p>We are a premier auto rental company serving the Central Texas area with available delivery to both the Killeen and Austin airports. Our fleet consists of a wide range of vehicles to meet your needs, including sedans, mid size SUVs, and large SUVs.<br><br>

        At Dpremium Rentals, we pride ourselves on providing excellent customer service and top-quality vehicles at affordable rates. Our team is dedicated to helping you find the perfect vehicle for your trip, whether you need a car for a day, a week, or longer.<br><br>

        We have a variety of rental options to choose from, including daily, weekly, and monthly rates. Our rates are all-inclusive, so there are no hidden fees or surcharges. Corporate rates with net 30 billing available upon request. <br><br>

        If you have any questions or need help booking a rental, don't hesitate to contact us. We're here to make your rental experience as seamless and enjoyable as possible.<br><br>

        Thank you for considering Dpremium Rentals for your rental needs. We look forward to serving you!
        </p>
    </main>
    <footer>
        <%- include('./partials/footer.ejs')%>
    </footer>
    </div>
</body>
</html>