<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
  <div class="body-overlay">
    <header>
        <%- include('./partials/header.ejs')%>
    </header>
  <main>
      <div class="container">
        <h1>Welcome to dPremium Auto Rentals!</h1>
            <h2>Rental Car Index</h2>
            <ul>
              <% let listString = renderList(allCars) %>
              <%- listString %>
            </ul>
          </main>
          <footer>
              <%- include('./partials/footer.ejs')%>
          </footer>
          </div>
</body>

<% function renderList(arrList) { %>
<%   let listString = []  %>
<%   arrList.forEach((car, index) => {  %>
<%        console.log(car.name) %>
<%        listString.push('<li><a href="/cars/' + index + '">' + car.name + '</a></li>') %>
<%    }) %>
<%    console.log(listString.join(" ")) %>
<%    return listString.join(" ")  %>
<% } %>