<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dPremium Rentals</title>
    <style type="text/css">
        body {
          color: rgb(0,0,0);
          background-color: rgb(209,209,209);
        }
      </style>
</head>
<body>
<h1>Welcome to dPremium Auto Rentals!</h1>
    <h2>Rental Car Index</h2>
    <ul>
      <% let listString = renderList(allCars) %>
      <%- listString %>
    </ul>
    
</body>

<% function renderList(arrList) { %>
<%   let listString = []  %>
<%   arrList.forEach(car => {  %>
<%        console.log(car.name) %>
<%        listString.push('<li>' + car.name + '</li>') %>
<%    }) %>
<%    console.log(listString.join(" ")) %>
<%    return listString.join(" ")  %>
<% } %>