<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Show Page</title>
</head>
<body>
    <h1>Car Information</h1>
    <h2><%=car.name %> </h2>
    <ul>
        <% let carData = renderObjs(car) %>
        <%- carData %> 
    </ul>
    <span id="images">
        <% let imageData = renderImages(car.photos) %>
        <%- imageData %> 
    </span>

    <p>
        <a href="/cars">Back...</a>
    </p>
</body>
</html>

<% function renderObjs(arrObj) { %>
<%   let listString = []  %>
<%   let photos = `${arrObj.photos}` %>
<%   let photosArr = photos.split(',') %>

<%   for (const [key, value] of Object.entries(arrObj)) { %>
<%     listString.push('<li>' + `${key}: ${value}` + '</li>') %>
<%   } %>
<%   photosArr.forEach(element => console.log(element)) %>
<%    console.log(renderImages(photosArr)) %>
<%   return listString.join(" ")  %>
<% } %>

<% function renderImages(photoEntries) { %>
    <%     let photosList = [] %>
    <%     photoEntries.forEach(element => photosList.push('<img src="' + '/images/' + element + '" width="250">' )) %>
    <%     return photosList %>
<% } %>