<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
<body>
    <div class="body-overlay">
        <header>
            <%- include('./partials/header.ejs')%>
        </header>
      <main>
          <div class="container">
        <h3>Terms and Conditions</h3>
        <ul>
            <li><b>Age Requirements:</b> A customer renting a Luxury Car, Minivan, 12-Passenger Van, Full-Size SUV, Premium SUV, Standard Elite SUV or any vehicle in the Specialty/Street Fleet/Cool Car categories must be at least 21 years old.
            </li>
            <li>
                <b>Optional Coverage:</b> Acceptance of Loss Damage Waiver relieves the renter and authorized additional drivers of financial responsibility if the rental vehicle is damaged or stolen while under rental contract.  Using the vehicle in violation of any of the use restrictions listed on the rental agreement could void LDW and leave the renter fully responsible for any damage to the vehicle. <br>

                If LDW is not accepted, the customer may be responsible for up to the full fair market value of the car if it is damaged, vandalized or stolen during the rental.  The customer may also be responsible for reimbursing Budget for the revenue lost by not being able to use the car while it is being repaired or not recovered due to theft (referred to as Loss Of Use).
            </li>
            <li><b>Drivers License:</b> At time of rental, driver must present a valid drivers license in the drivers name.  All drivers must have a safe driving record.  You may be asked to sign a driving record addendum or be subject to a computerized Department of Motor Vehicles check. Based upon such search, Budget reserves the right to deny a rental opportunity.  Customers with a drivers license in a non-Roman alphabet may be asked to present an international driving permit (IDP) for translation purposes.
            </li>
            <li><b>Required Credentials:</b>b> At time of pickup, all drivers must present a valid driver's license in their name (see "Driver's License Requirements" section for complete details).
                <li>
                    If the driver's license is not issued from the U.S., then the renter must also present a valid passport or Canadian enhanced license and a travel itinerary showing proof of return to the resident country.
                </li>>
                <li>
                    A valid credit card in the renter's name.  See the "Credit Card Policies" section for complete details.
                </li>
            </li>
        </ul>            
    </main>
    <footer>
        <%- include('./partials/footer.ejs')%>
    </footer>
    </div>
</body>
</html>